#back{
    background-color: #353B3C;
}

#purple {
    background-color: #A2999E;
}

.grey {
    background-color: #C6C7C4;
}

.head {
    color: #EEF0F2
}

.tHead {
    color : #846A6A;
}

#formSubmit {
    background-color: #846A6A;
}