#back{
    background-color: #4E4A59;
}

#purple {
    background-color: #394053;
}

.green {
    background-color: #7CAE7A;
}

.greenText {
    color: #7CAE7A;
}

.purple {
    color: #394053;
}

.purple2 {
    color: #6E6362;
}

.tHead {
    color : #4E4A59;
}

#formSubmit {
    background-color: #6E6362;
}